@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-white: var(--white);
  --color-layover: Var(--layover);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-neutral: var(--neutral)
}

:root {
  --background: #f1f1ed;
  --foreground: #15151a;
  --primary: #ebb000;
  --white: #f9f9f9;
  --layover: #15151a;
  --neutral: #7c7979; 
}

.dark {
  --background: #15151a;
  --foreground: #f9f9f9;
}

@layer components {
  .ring-xs {
    @apply ring-[0.5px] ring-primary;
  }
}

@layer base {
  * {
    @apply transition-all ;
  }

  html,
  body {
    scroll-behavior: smooth;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar,
  div::-webkit-scrollbar {
    @apply size-1;
  }

  html::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-thumb,
  div::-webkit-scrollbar-thumb {
    @apply bg-primary/80;
    border-radius: 100px;
  }

  html::-webkit-scrollbar-thumb:hover,
  body::-webkit-scrollbar-thumb:hover,
  div::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
  }

  html::-webkit-scrollbar-track,
  body::-webkit-scrollbar-track,
  div::-webkit-scrollbar-track {
    background: transparent;
  }

  body {
    @apply bg-background text-foreground;
  }
  nav a {
    @apply font-medium hover:text-primary text-sm;
  }
  h1 {
    @apply text-5xl font-bold
  }
  h2 {
    @apply text-2xl md:text-3xl;
  }
  h3 {
    @apply font-bold text-xl
  }
  h4 {
    @apply font-medium text-lg
  }
  h5 {
    @apply font-medium text-sm
  }
  button {
    @apply cursor-pointer;
  }
  input {
    @apply outline-0 caret-primary;
  }
}
