@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-white: #f9f9f9;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #ebb000;
}

:root {
  --background: #f9f9f9;
  --foreground: #15151a;
}

.dark {
  --background: #15151a;
  --foreground: #f9f9f9;
}

@layer components {
  .ring-xs {
    @apply ring-[0.5px] ring-primary;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  nav a {
    @apply font-medium hover:text-primary transition-all duration-150;
  }
  button {
    @apply cursor-pointer
  }
  input {
    @apply outline-0 caret-primary;
  }
}
